body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  min-block-size: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

my-title h1 {
  color: red;
}

nav-component li {
  margin-block: 1rem;
}

footer-component {
  background-color: palevioletred;
  padding-block: 1rem;
  text-align: center;
  margin-block-start: auto;
}
